html {
    font-size: 16px; /* Imposta un valore di base per il font size */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.game {
    margin-top: 1.25rem; /* 20px in rem */
}

button {
    padding: 0;
    margin: 0 0.625rem; /* 10px in rem */
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button img {
    width: 10.625rem; /* 170px in rem */
    height: 10.625rem; /* 170px in rem */
}

.game-image {
    max-width: 25rem; /* 400px in rem */
    max-height: 25rem; /* 400px in rem */
}

.vs {
    font-size: 1.5rem; /* 24px in rem */
    font-weight: bold;
    margin: 0 0.625rem; /* 10px in rem */
}

#resultText {
    font-size: 1.5rem; /* 24px in rem */
    font-weight: bold;
    color: #333;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.5); /* 1px 1px 2px in rem */
    margin: 0.625rem 0; /* 10px 0 in rem */
}
